<div class="navbar navbar-default navbar-static-top" style="margin-bottom: 0;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Bone Explorer</a>
    </div>
    <div class="navbar-collapse collapse" id="searchbar">
        <form class="navbar-form" style="width: 65%;" ng-submit="search.submitQuery(search.query)">
            <div class="form-group" style="display:inline;">
                <div class="input-group" style="display:table;">
                    <input class="form-control" name="search" autocomplete="off"
                           autofocus="autofocus" type="text" ng-model="search.query">
                       <span class="input-group-btn" style="width:1%;">
                        <button class="btn btn-default" type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                      </span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 page-container" style="border-right: solid 1px #eee;">
            <form role="search">
                <div class="form-group">
                    <label>Author</label>
                    <ui-select multiple id="author" ng-model="search.filters.author">
                        <ui-select-match>{{$item.name}}</ui-select-match>
                        <ui-select-choices group-by="'group'"
                                           repeat="author in search.authors | filter: $select.search">
                            <div ng-bind-html="author.name| highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Museum</label>
                    <ui-select multiple id="museum" ng-model="search.filters.museum">
                        <ui-select-match>{{$item.name}}</ui-select-match>
                        <ui-select-choices group-by="'group'"
                                           repeat="museum in search.museums | filter: $select.search">
                            <div ng-bind-html="museum.name| highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label>Media Type</label>
                    <ui-select multiple id="media-type" ng-model="search.filters.mediaType">
                        <ui-select-match>{{$item.name}}</ui-select-match>
                        <ui-select-choices group-by="'group'"
                                           repeat="mediaType in search.mediaTypes | filter: $select.search">
                            <div ng-bind-html="mediaType.name| highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label>Group</label>
                    <ui-select multiple id="animal-group" ng-model="search.filters.animalGroup">
                        <ui-select-match>{{$item.name}}</ui-select-match>
                        <ui-select-choices group-by="'group'"
                                           repeat="animalGroup in search.animalGroups | filter: $select.search">
                            <div ng-bind-html="animalGroup.name| highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </form>
        </div>
        <div class="col-sm-9 page-container">
            <div class="row">
                <div class="col-sm-6 col-md-4" ng-repeat="result in search.results">
                    <div class="thumbnail">
                        <img alt="100%x200" style="height: 200px; width: 100%; display: block;" ng-src="{{ result.thumbnailUrl }}">
                        <div class="caption">
                            <h3>{{ result.name }}</h3>
                            <p>{{ result.description }}</p>
                            <p><a href="#" class="btn btn-primary" role="button">...</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
