<div class="navbar navbar-default navbar-static-top" style="margin-bottom: 0;">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Bone Explorer</a>
    </div>

    <div id="search-bar" class="hidden-sm hidden-xs">
        <form class="navbar-form" style="width: 65%;" ng-submit="search.submitQuery()">
            <div class="form-group" style="display:inline;">
                <div class="input-group" style="display:table;">
                    <input class="form-control" name="search" autocomplete="off"
                           autofocus="autofocus" type="text" ng-model="search.query"
                           placeholder="find bones">
                      <span class="input-group-btn" style="width: 1%;">
                        <button class="btn btn-default" type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                      </span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid hidden-md hidden-lg">
    <p>

    <form class="" style="" ng-submit="search.submitQuery()">
        <div class="form-group" style="display:inline;">
            <div class="input-group" style="display:table;">
                <input class="form-control" name="search" autocomplete="off"
                       autofocus="autofocus" type="text" ng-model="search.query"
                       placeholder="find bones">
                   <span class="input-group-btn" style="">
                    <button class="btn btn-default" type="submit">
                        <span class="fa fa-search"></span>
                    </button>
                  </span>
            </div>
        </div>
    </form>
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 page-container" style="border-right: solid 1px #eee;">
            <form ng-submit="search.submitQuery()">
                <div class="form-group">
                    <label>Author</label>
                    <ui-select multiple="true" id="author" ng-model="search.filters.author">
                        <ui-select-match>{{$item.name}}</ui-select-match>
                        <ui-select-choices group-by="'group'"
                                           repeat="author in search.authors | filter: $select.search">
                            <div ng-bind-html="author.name| highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Museum</label>
                    <ui-select multiple="true" id="museum" ng-model="search.filters.museum">
                        <ui-select-match>{{$item.name}}</ui-select-match>
                        <ui-select-choices group-by="'group'"
                                           repeat="museum in search.museums | filter: $select.search">
                            <div ng-bind-html="museum.name| highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label>Media Type</label>
                    <ui-select multiple="true" id="media-type" ng-model="search.filters.mediaType">
                        <ui-select-match>{{$item.name}}</ui-select-match>
                        <ui-select-choices group-by="'group'"
                                           repeat="mediaType in search.mediaTypes | filter: $select.search">
                            <div ng-bind-html="mediaType.name| highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label>Group</label>
                    <ui-select multiple="true" id="animal-group" ng-model="search.filters.animalGroup">
                        <ui-select-match>{{$item.name}}</ui-select-match>
                        <ui-select-choices group-by="'group'"
                                           repeat="animalGroup in search.animalGroups| filter: $select.search">
                            <div ng-bind-html="animalGroup.name| highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <button type="submit" class="btn btn-default btn-block">Apply</button>
            </form>
        </div>
        <div class="col-md-9 page-container">
            <spinner is-loaded="search.isLoaded">
                <p>
                    <span>{{ search.results.length }} result<span ng-if="search.results.length !== 1">s</span></span>
                    <span ng-if="search.searchedQuery"> for <strong>"{{ search.searchedQuery }}"</strong></span>
                </p>

                <div class="row">
                    <div class="col-sm-6 col-md-4" ng-repeat="result in search.results">
                        <div class="thumbnail">
                            <img alt="{{ result.name }}" style="height: 200px; width: 100%; display: block;"
                                 ng-src="http://localhost:3000/{{ result.source.fileUrl }}">

                            <div class="caption">
                                <h3>{{ result.source.scanSpecimenSpeciesScientificName }}</h3>
                                <small>{{ result.source.scanSpecimenSpeciesCommonName }}</small>
                                <hr>
                                <p>Author: {{ result.source.scanAuthorName }}</p>
                                <p>Group: {{ result.source.scanAnimal_groupName }}</p>
                                <p>Museum: {{ result.source.scanMuseumName }}</p>
                                <p>Media Type: {{ result.source.media_typeName }}</p>
                                <!--<p><a href="#" class="btn btn-primary" role="button">...</a></p>-->
                                <button type="button" class="btn btn-default" ng-click="search.open('lg', result)">...</button>

                            </div>
                        </div>
                    </div>
                </div>
            </spinner>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ result.source.scanSpecimenSpeciesScientificName}}
            <small>{{ result.source.scanSpecimenSpeciesCommonName }}</small>
        </h3>
    </div>
    <div class="modal-body">
        <img alt="{{ result.name }}" class="img-responsive"
             ng-src="http://localhost:3000/{{ result.source.fileUrl }}">
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h4>General Categories</h4>
                <p>Author: {{ result.source.scanAuthorName }}</p>
                <p>Group: {{ result.source.scanAnimal_groupName }}</p>
                <p>Museum: {{ result.source.scanMuseumName }}</p>
                <p>Media Type: {{ result.source.media_typeName }}</p>
            </div>
            <div class="col-sm-6">
                <h4>Scan Info</h4>
                <p>Date: {{ result.source.scanScanTime }}</p>
                <p>Location: {{ result.source.scanLocation }}</p>
                <p>Current: {{ result.source.scanCurrent }}</p>
                <p>Voxel Size: {{ result.source.scanVoxelSize }}</p>
                <p>Voltage: {{ result.source.scanVoltage }}</p>
                <p>Sequence: {{ result.source.scanSequence }}</p>
                <p>Quality: {{ result.source.scanScanQuality }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</script>
